**/__pycache__
**/.ipynb_checkpoints
**.pyc
*.ipynb

cifar_repo
audio_autoencoder

old*
*logs
data/*
models/*
archive/old_logs
logs

!technical_milestone_dashboard.ipynb
!lent_shell_scripts/cifar_labelled_classification_recalibration_with_diversity/byol_caching.ipynb